#tela
{
    background-image: url("../images/bg.png");
    background-size: cover;
    width: 800px;
    height: 600px;
}

#tela:hover
{
    cursor: pointer;
}

#passaro
{
    margin-left: 100px;
    z-index: 2;
}

